[deepl]
deepl_api_key=09b3cc42-2870-17e2-d82b-c5926abdb04a:fx
[mail]
mail_host=mail.gmx.net
mail_port=587
mail_user=Sessionwraps@gmx.de
mail_password=gadvoh-sokcid-5Zedfo
mail_from=Sessionwraps@gmx.de
#mail_to=rc.trading@icloud.com
mail_to=sw@3ele.de
[conf]


[deepl]
deepl_api_key=09b3cc42-2870-17e2-d82b-c5926abdb04a:fx
[mail]
mail_host=w0153fc1.kasserver.com
mail_port=465
mail_user=m06773ed
mail_password=Pmab3bCX5pKDMYpY
mail_from=reports@dev-wp.de
#mail_to=rc.trading@icloud.com
mail_to=sw@3ele.de
[conf]


